.footer-fixed {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

button:focus {
  outline: none !important;
}

.image-wrapper {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto;
}

.image-wrapper .image {
  width: 100%;
  height: 100%;
}

.history-table .MuiToolbar-gutters {
  display: none !important;
}

.react-multi-carousel-item {
  height: 400px !important;
}

.no-margin {
  margin: 0 !important;
}

.history-order .MuiPaper-elevation2 .MTableToolbar-root-11 {
  display: none !important;
}

.history-order {
  width: "97%" !important;
  margin-top: 16px;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.row-margin {
  margin-right: -15px !important;
  margin-left: -15px !important;
}
